.greetings {
  color: red;
}

.btn {
  padding: 10px 14px;
  background-color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-own {
  color: black;
  background-color: aqua;
}


.primary-btn {
  color: white;
  background-color: dodgerblue;
}

.scondary-btn {
  color: white;
  background-color: tomato;
}

.tertiary-Btn{
  color: white;
  background-color: green;
}

.box {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
